.login-main {
  //   border: green solid 2px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;

  h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .form-container {
    // border: blue solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      height: 36px;
      width: 275px;
      border-style: none none solid;
      border-bottom: 1px solid rgb(252, 206, 211);
    }

    .input-text {
      padding-left: 10px;
      box-sizing: border-box;
      //   margin: 10px 0;
    }
    .input-submit {
      background-color: rgb(44, 177, 186);
      height: 45px;
      //   width: 100%;
      color: rgb(255, 255, 255);
      font-size: 16px;
      margin-top: 40px;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  a {
    color: rgb(44, 177, 186);
    font-size: 12px;
    margin-top: 20px;
    text-decoration: none;
  }
}
