.publish-main {
  background-color: #eaedee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .publish-container {
    // border: green solid 2px;
    width: 1100px;
    h2 {
      font-size: 20px;
      height: 60px;
      display: flex;
      align-items: center;
      padding-top: 10px;
    }
    .publish-form {
      // border: blue solid 2px;
      display: flex;
      width: 100%;

      flex-direction: column;
      align-items: center;

      .div-container {
        // border: aqua solid 2px;
        margin-top: 20px;
        width: 100%;
        background-color: #ffffff;
        .descript {
          height: 100px;
          input {
            height: 80%;
          }
        }
      }
      .file-container {
        // height: 100px;
        text-align: center;
        box-sizing: border-box;
        padding: 38px 0;
        .drop-zone--div {
          text-align: center;
          padding: 20px;
          border: 3px #d5d7d7 dashed;
          width: 60%;
          margin: auto;
          cursor: pointer;
        }
        .img-container {
          // border: red solid 1px;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            height: 270px;
            width: 200px;
            object-fit: cover;
          }
          button {
            border: none;
            background-color: #2db0ba;
            color: white;
            height: 22px;
            border-radius: 6px;
            margin-top: 20px;
          }
        }
      }
      .form-container {
        border: #d5d7d7 solid 1px;
        height: 60px;
        display: flex;
        p {
          width: 50%;
          margin-left: 20px;
          padding-top: 20px;
        }
        input {
          width: 50%;
          height: 40px;
          border: none;
          border-bottom: #d5d7d7 solid 1px;
          margin-right: 20px;
          box-sizing: border-box;
          text-decoration: none;
        }
        input::placeholder {
          color: #d5d7d7;
        }
        .input-text:hover {
          border: #d5d7d7 solid 1px;
        }
        .input-checkbox {
          // border: red solid 1px;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          div {
            // border: solid blue 1px;
            width: 50%;
            display: flex;
            align-items: center;
            position: relative;
            justify-content: flex-end;
            padding-right: 20px;
            padding-bottom: 10px;
            input {
              position: absolute;
              height: 20px;
              left: 100px;
              top: 20px;
            }
            p {
              width: 80%;
              // border: red solid 1px;
              text-align: end;
            }
          }
        }
      }
      .input-submit {
        border: none;
        background-color: #2db0ba;
        color: white;
        height: 40px;
        width: 30%;
        margin-top: 20px;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
      }
      .input-submit:hover {
        background-color: #017782;
      }
    }
  }
}
