.publish-main {
  background-color: #eaedee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .publish-container {
    border: green solid 2px;
    width: 1100px;
    h2 {
      font-size: 20px;
      height: 60px;
      display: flex;
      align-items: center;
      padding-top: 10px;
    }
    .publish-form {
      border: blue solid 2px;
      display: flex;
      width: 100%;

      flex-direction: column;
      align-items: center;

      .div-container {
        border: aqua solid 2px;
        margin-top: 20px;
        width: 100%;
        background-color: #ffffff;
        .descript {
          height: 100px;
          input {
            height: 80%;
          }
        }
      }
      .file-container {
        height: 100px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 38px;
      }
      .title-descript {
        // height: 100px;
      }

      .others {
        // height: 300px;
      }
      .form-container {
        border: #d5d7d7 solid 1px;
        height: 60px;
        display: flex;
        p {
          width: 50%;
          margin-left: 20px;
          padding-top: 20px;
        }
        input {
          width: 50%;
          height: 28px;
          border: none;
          border-bottom: #d5d7d7 solid 1px;
          margin-right: 20px;
          box-sizing: border-box;
        }
        input::placeholder {
          color: #d5d7d7;
        }
        .input-checkbox {
          border: red solid 1px;
          width: 50%;
          display: flex;
          justify-content: left;
          input {
            height: 20px;
          }
        }
      }
    }
  }
}
