* {
  font-family: sans-serif;
}

/* HEADER */

.vinted-header {
  display: flex;
  justify-content: space-around;
  border-bottom: gray solid 1px;
  color: #90d8dd;
}

/* HOME */

.home-container {
  display: flex;
  justify-content: center;
}

.home-container > div {
  border: green solid 2px;
  max-width: 70rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  border: red solid 1px;
}

.img-items {
  height: 20rem;
  width: 12.5rem;
  margin: 0.3rem;
  object-fit: cover;
}

/* OFFER */

.item-container {
  border: red solid 1px;
  display: flex;
  justify-content: center;
}

.item-info {
  display: flex;
}

.img-offer {
  height: 40rem;
  width: 29rem;
  object-fit: cover;
}

.product-info {
  border: green solid 1px;
  height: 200px;
}
